
{% extends "base.html" %}
{% block content %}


<h2>This is the new pickem and is under construction...</h2>
<!-- Divisional Round -->
<h2 class='center-heading'>Divisional Round pick'em</h2>
<!-- <div class="grid-pickem"> -->

<div class="container">
    <div class="row">
        <div class="col player center">Game</div>
        <div class="col player"></div>
        <div class="col player center">Winner</div>
        <div class="col player center">Grandpa</div>
        <div class="col player center">Michele</div>
        <div class="col player center">Ryan</div>
        <div class="col player center">Kerry</div>
        <div class="col player center">Keira</div>
        <div class="col player center">Tegan</div>
        <div class="col player center">Justin</div>
        <div class="col player center">Regina</div>
    </div>

    <div class="row conference">NFC</div>
    <div class="row">
        <div class="col">
            <img src="./static/49ers.png" class="team-pickem"/>
        </div>
        <div class="col">
            <img src="./static/packers.png" class="team-pickem"/>
        </div>
        <div class="col">
            <img src="./static/packers.png" class="team-pickem"/>
        </div>
        <div class="col lose">
            <img src="./static/packers.png" class="team-pickem"/>
        </div>
        <div class="col">
            <img src="./static/nfl.svg" class="team-pickem"/>
        </div>
        <div class="col lose">
            <img src="./static/packers.png" class="team-pickem"/>
        </div>
        <div class="col lose">
            <img src="./static/packers.png" class="team-pickem"/>
        </div>
        <div class="col lose">
            <img src="./static/packers.png" class="team-pickem"/>
        </div>
        <div class="col win">
            <img src="./static/49ers.png" class="team-pickem"/>
        </div>
        <div class="col lose">
            <img src="./static/packers.png" class="team-pickem"/>
        </div>
        <div class="col lose">
            <img src="./static/packers.png" class="team-pickem"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <img src="./static/rams.png" class="team-pickem"/>
        </div>
        <div class="col">
            <img src="./static/bucs.png" class="team-pickem"/>
        </div>
        <div class="col">
            <img src="./static/rams.png" class="team-pickem"/>
        </div>
        <div class="col lose">
            <img src="./static/bucs.png" class="team-pickem"/>
        </div>
        <div class="col">
            <img src="./static/nfl.svg" class="team-pickem"/>
        </div>
        <div class="col win">
            <img src="./static/rams.png" class="team-pickem"/>
        </div>
        <div class="col lose">
            <img src="./static/bucs.png" class="team-pickem"/>
        </div>
        <div class="col lose">
            <img src="./static/bucs.png" class="team-pickem"/>
        </div>
        <div class="col lose">
            <img src="./static/bucs.png" class="team-pickem"/>
        </div>
        <div class="col lose">
            <img src="./static/bucs.png" class="team-pickem"/>
        </div>
        <div class="col lose">
            <img src="./static/bucs.png" class="team-pickem"/>
        </div>
    </div>

    <div class="row conference">AFC</div>
    <div class="row">
        <div class="col">
            <img src="./static/bengals.png" class="team-pickem"/>
        </div>
        <div class="col">
            <img src="./static/titans.png" class="team-pickem"/>
        </div>
        <div class="col">
            <img src="./static/bengals.png" class="team-pickem"/>
        </div>
        <div class="col lose">
            <img src="./static/titans.png" class="team-pickem"/>
        </div>
        <div class="col">
            <img src="./static/nfl.svg" class="team-pickem"/>
        </div>
        <div class="col win">
            <img src="./static/bengals.png" class="team-pickem"/>
        </div>
        <div class="col win">
            <img src="./static/bengals.png" class="team-pickem"/>
        </div>
        <div class="col win">
            <img src="./static/bengals.png" class="team-pickem"/>
        </div>
        <div class="col win">
            <img src="./static/bengals.png" class="team-pickem"/>
        </div>
        <div class="col win">
            <img src="./static/bengals.png" class="team-pickem"/>
        </div>
        <div class="col win">
            <img src="./static/bengals.png" class="team-pickem"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <img src="./static/bills.png" class="team-pickem"/>
        </div>
        <div class="col">
            <img src="./static/chiefs.png" class="team-pickem"/>
        </div>
        <div class="col">
            <img src="./static/chiefs.png" class="team-pickem"/>
        </div>
        <div class="col lose">
            <img src="./static/bills.png" class="team-pickem"/>
        </div>
        <div class="col">
            <img src="./static/nfl.svg" class="team-pickem"/>
        </div>
        <div class="col lose">
            <img src="./static/bills.png" class="team-pickem"/>
        </div>
        <div class="col lose">
            <img src="./static/bills.png" class="team-pickem"/>
        </div>
        <div class="col win">
            <img src="./static/chiefs.png" class="team-pickem"/>
        </div>
        <div class="col lose">
            <img src="./static/bills.png" class="team-pickem"/>
        </div>
        <div class="col lose">
            <img src="./static/bills.png" class="team-pickem"/>
        </div>
        <div class="col win">
            <img src="./static/chiefs.png" class="team-pickem"/>
        </div>
    </div>
</div>

<!-- Conference Championship Round -->
<h2 class='center-heading'>Conference Championship Round</h2>
<!-- <div class="grid-pickem"> -->

<div class="container">
    <div class="row">
        <div class="col player center">Game</div>
        <div class="col player"></div>
        <div class="col player center">Winner</div>
        <div class="col player center">Grandpa</div>
        <div class="col player center">Michele</div>
        <div class="col player center">Ryan</div>
        <div class="col player center">Kerry</div>
        <div class="col player center">Keira</div>
        <div class="col player center">Tegan</div>
        <div class="col player center">Justin</div>
        <div class="col player center">Regina</div>
    </div>
    <div class="row conference">NFC</div>
    <div class="row">
        <div class="col">
            <img src="./static/49ers.png" class="team-pickem"/>
        </div>
        <div class="col">
            <img src="./static/rams.png" class="team-pickem"/>
        </div>
        <div class="col">
            <img src="./static/rams.png" class="team-pickem"/>
        </div>
        <div class="col win">
            <img src="./static/rams.png" class="team-pickem"/>
        </div>
        <div class="col">
            <img src="./static/nfl.svg" class="team-pickem"/>
        </div>
        <div class="col win">
            <img src="./static/rams.png" class="team-pickem"/>
        </div>
        <div class="col win">
            <img src="./static/rams.png" class="team-pickem"/>
        </div>
        <div class="col win">
            <img src="./static/rams.png" class="team-pickem"/>
        </div>
        <div class="col lose">
            <img src="./static/49ers.png" class="team-pickem"/>
        </div>
        <div class="col lose">
            <img src="./static/49ers.png" class="team-pickem"/>
        </div>
        <div class="col lose">
            <img src="./static/49ers.png" class="team-pickem"/>
        </div>
    </div>

    <div class="row conference">AFC</div>
    <div class="row">
        <div class="col">
            <img src="./static/bengals.png" class="team-pickem"/>
        </div>
        <div class="col">
            <img src="./static/chiefs.png" class="team-pickem"/>
        </div>
        <div class="col">
            <img src="./static/bengals.png" class="team-pickem"/>
        </div>
        <div class="col lose">
            <img src="./static/chiefs.png" class="team-pickem"/>
        </div>
        <div class="col">
            <img src="./static/nfl.svg" class="team-pickem"/>
        </div>
        <div class="col lose">
            <img src="./static/chiefs.png" class="team-pickem"/>
        </div>
        <div class="col lose">
            <img src="./static/chiefs.png" class="team-pickem"/>
        </div>
        <div class="col lose">
            <img src="./static/chiefs.png" class="team-pickem"/>
        </div>
        <div class="col lose">
            <img src="./static/chiefs.png" class="team-pickem"/>
        </div>
        <div class="col lose">
            <img src="./static/chiefs.png" class="team-pickem"/>
        </div>
        <div class="col lose">
            <img src="./static/chiefs.png" class="team-pickem"/>
        </div>
    </div>
</div>
<!-- Super Bowl Round -->
<div>
    <h2 class='center-heading'>Super Bowl</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col player center">Game</div>
        <div class="col player"></div>
        <div class="col player center">Winner</div>
        <div class="col player center">Grandpa</div>
        <div class="col player center">Michele</div>
        <div class="col player center">Ryan</div>
        <div class="col player center">Kerry</div>
        <div class="col player center">Keira</div>
        <div class="col player center">Tegan</div>
        <div class="col player center">Justin</div>
        <div class="col player center">Regina</div>
    </div>
    <div class="row">
        <div class="col">
            <img src="./static/bengals.png" class="team-pickem"/>
        </div>
        <div class="col">
            <img src="./static/rams.png" class="team-pickem"/>
        </div>
        <div class="col">
            <img src="./static/rams.png" class="team-pickem"/>
        </div>
        <div class="col lose">
            <img src="./static/bengals.png" class="team-pickem"/>
        </div>
        <div class="col lose">
            <img src="./static/bengals.png" class="team-pickem"/>
        </div>
        <div class="col win">
            <img src="./static/rams.png" class="team-pickem"/>
        </div>
        <div class="col win">
            <img src="./static/rams.png" class="team-pickem"/>
        </div>
        <div class="col lose">
            <img src="./static/bengals.png" class="team-pickem"/>
        </div>
        <div class="col lose">
            <img src="./static/bengals.png" class="team-pickem"/>
        </div>
        <div class="col lose">
            <img src="./static/bengals.png" class="team-pickem"/>
        </div>
        <div class="col lose">
            <img src="./static/bengals.png" class="team-pickem"/>
        </div>
    </div>
</div>

{% endblock %}