{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        {% for heading in headings %}
            <div class="col">
                <div class="col player center">{{ heading }}</div>
            </div>
        {% endfor %}
    </div>
    {% for game in picks %}
        <div class="row">{{ game['description'] }}</div>
        <div class="row">
            <div class="col">
                <img src={{ game['teamvisitor'] }} class="team-pickem"/>
            </div>
            <div class="col">
                <img src={{ game['teamhome'] }} class="team-pickem"/>
            </div>
            <div class="col">
                <img src={{ game['winner'] }} class="team-pickem"/>
            </div>
            {% for player in players %}
                <div class="col">
                    <img src={{ game[player[1]] }} class="team-pickem"/>
                </div>
            {% endfor %}
        </div>
        
    {% endfor %}
</div>


{% endblock %}