
{% extends "base.html" %}
{% block content %}

<h2 class='center-heading'>Divisional Round pick'em</h2>
<div class="container">
    <div class="row">
        {% for key, val in data.items() %}
        <div class="col player center">{{key}}</div>
        {% endfor %}
    </div>
    <div class="row">
        {% for key, val in data.items() %}
        <div class="col">
            <img {{ "src=./static/"+val['afcdiv1']+".png class=team-pickem" }} />
        </div>
        {% endfor %}
    </div>
    <div class="row">
        {% for key, val in data.items() %}
        <div class="col">
            <img {{ "src=./static/"+val['afcdiv2']+".png class=team-pickem" }} />
        </div>
        {% endfor %}
    </div>
    <div class="row">
        {% for key, val in data.items() %}
        <div class="col">
            <img {{ "src=./static/"+val['nfcdiv1']+".png class=team-pickem" }} />
        </div>
        {% endfor %}
    </div>
    <div class="row">
        {% for key, val in data.items() %}
        <div class="col">
            <img {{ "src=./static/"+val['nfcdiv2']+".png class=team-pickem" }} />
        </div>
        {% endfor %}
    </div>
</div>

<h2 class='center-heading'>Conference Championship Round</h2>
<div class="container">
    <div class="row">
        {% for key, val in data.items() %}
        <div class="col player center">{{key}}</div>
        {% endfor %}
    </div>
    <div class="row">
        {% for key, val in data.items() %}
        <div class="col">
            <img {{ "src=./static/"+val['afcchamp']+".png class=team-pickem" }} />
        </div>
        {% endfor %}
    </div>
    <div class="row">
        {% for key, val in data.items() %}
        <div class="col">
            <img {{ "src=./static/"+val['nfcchamp']+".png class=team-pickem" }} />
        </div>
        {% endfor %}
    </div>
</div>

<h2 class='center-heading'>Superbowl</h2>
<div class="container">
    <div class="row">
        {% for key, val in data.items() %}
        <div class="col player center">{{key}}</div>
        {% endfor %}
    </div>
    <div class="row">
        {% for key, val in data.items() %}
        <div class="col">
            <img {{ "src=./static/"+val['superbowl']+".png class=team-pickem" }} />
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}