{% extends "user/user.html" %}

{% block update %}


<div class="main"></div>
    <div>This is the page to udpate user password</div>
    <div class="main">
        <form class="row g-3 needs-validation" method="post">
            <div class="mb-3">
                <label for="newpassword_1" class="form-label">Enter a new password</label>
                <input type="password" class="form-control" name="newpassword_1" id="newpassword_1" placeholder="new password">
            </div>
            <div class="mb-3">
                <label for="newpassword_2" class="form-label">Enter new password again</label>
                <input type="password" class="form-control" name="newpassword_2" id="newpassword_2" placeholder="new password">
            </div>
            <div class="col-12">
                <input class="btn btn-primary" type="submit" value="Confirm Password Change">
            </div>
        </form>
    </div>    
</div>
{% endblock %}