{% extends "base.html" %}
{% set active_page="update_picks" %}

{% block content %}

<div class="container">
    <form method="post">

        <div class="row center">Click on logos to select new picks below, then hit submit to log your new picks...</div>
        <div class="row header-row">
            <div class="col heading center">Player</div>
            {% for game in game_desc %}
                <div class="col heading center">
                    <div> {{ game['Game'] }}</div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col header">
                <div class="row">Visiting Team</div>
            </div>
            {% for game in game_desc %}
            <div class="col" id="radios">
                <div class="row">
                    <label for="{{ game['Game']+'visitor' }}">
                        <input type="radio" name={{ game['id'] }} id="{{ game['Game']+'visitor' }}" value={{ game['Visitor'] }}>
                        <div>{{ team_dict[game['Visitor']]|safe }}</div>
                        <!-- <span>team 1</span> -->
                    </label>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col header">
                <div class="row">Home Team</div>      
            </div>
            {% for game in game_desc %}
            <div class="col" id="radios">
                <div class="row">
                    <label for="{{ game['Game']+'home' }}">
                        <input type="radio" name={{ game['id'] }} id="{{ game['Game']+'home' }}" value={{ game['Home Team'] }}>
                        <div>{{ team_dict[game['Home Team']]|safe }}</div>
                        <!-- <span>team 2</span> -->
                    </label>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col form-group">
                <input class="btn btn-primary" type="submit"/>
            </div>
        </div>

    </form>

</div>



{% endblock %}