{% extends "user/user.html" %}

{% block update %}
<div>This is the page to udpate your picks!!!</div>

<div class="container">
    <div class="row">
        <div class="col">Game</div>
        {% for game in game_desc %}
            <div class="col">
                <div> {{ game['Game'] }}</div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col">Visitor</div>
        {% for game in game_desc %}
            {{ team_dict[game['Visitor']]|safe }}
        {% endfor %}
    </div>
    <div class="row">
        <div class="col">Home Team</div>
        {% for game in game_desc %}
            {{ team_dict[game['Home Team']]|safe }}   
        {% endfor %}
    </div>
    <div class="row">
        <div class="col">Winner</div>
        {% for game in game_desc %}
            {{ team_dict[game['Winner']]|safe }}
        {% endfor %}
    </div>

    <form method="post">

        <div class="row">
            <h2>Select new picks below then hit submit</h2>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">Visiting Team</div>
            </div>
            {% for game in game_desc %}
            <div class="col" id="radios">
                <div class="row">
                    <label for="{{ game['Game']+'visitor' }}">
                        <input type="radio" name={{ game['id'] }} id="{{ game['Game']+'visitor' }}" value={{ game['Visitor'] }}>
                        <div>{{ team_dict[game['Visitor']]|safe }}</div>
                        <!-- <span>team 1</span> -->
                    </label>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col">
                <div class="row">Home Team</div>      
            </div>
            {% for game in game_desc %}
            <div class="col" id="radios">
                <div class="row">
                    <label for="{{ game['Game']+'home' }}">
                        <input type="radio" name={{ game['id'] }} id="{{ game['Game']+'home' }}" value={{ game['Home Team'] }}>
                        <div>{{ team_dict[game['Home Team']]|safe }}</div>
                        <!-- <span>team 2</span> -->
                    </label>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-3">
                <input type="submit"/>
            </div>
        </div>

    </form>

</div>



{% endblock %}