{% extends "base.html" %}
{% set active_page="user" %}

{% block content %}
    <div>===== infro from g.user =====</div>
    <div>Welcome {{ g.user['displayname'] }}</div>
    <div>{{ g.user['id'] }}</div>
    <div>{{ g.user['username'] }}</div>
    <div>{{ g.user['pwhash'] }}</div>
    <div>{{ g.user['displayname'] }}</div>
    
    <div>===== info from database =====</div>
    {% for thing in user %}
        <div>id: {{ thing['id'] }}</div>
        <div>username: {{ thing['username'] }}</div>
        <div>pwhash: {{ thing['pwhash'] }}</div>
        <div>diplayname: {{ thing['displayname'] }}</div>
    {% endfor %}
    <div>===============================</div>
    <div>
        <a href="{{ url_for('user.updatepicks') }}">update pick'em picks</a>
    </div>
    <div>
        <a href="{{ url_for('user.updateinfo') }}">update user information</a>
    </div>
    <div>
        <a href="{{ url_for('user.changepassword') }}">change password</a>
    </div>
    
    {% block update %}
    {% endblock %}
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

{% endblock %}  